<!DOCTYPE html>
<html lang="en">
<head>
	<title>TranSMART REST Query Generator</title>
	
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

	<link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="/static/query-builder.default.min.css" />
	<script src="/static/query-builder.standalone.min.js"></script>
	
</head>
<body>
	<form id="querymetadata">
		Select from
		<label for="serverurl">tranSMART server</label>
		<input type="text"
			name="serverurl"
			id="serverurl"
			value="{{'{{url}}'}}"
			required
			placeholder="Server URL"
		/>
		all
		<input class="entities" type="radio" name="entities" id="patients" value="patients" checked/>
		<label for="patients">patients</label>
		<input class="entities" type="radio" name="entities" id="observations" value="observations"/>
		<label for="observations">observations</label>
		where:
	</form>
	<div id="builder"></div>
	<p><button id="generate">Generate query call</button> <button id="reset">Reset query</button></p>
	<p id="queryfield"></p>

	<script>
		$(function() {
			$('button#generate').bind('click', function() {
				var v = $('#builder').queryBuilder('getRules');
				var serverurl = document.getElementById('serverurl').value;
				var entities = $('.entities:checked').val();
				var querydata = {'url': serverurl, 'entities': entities, 'genericquery': v};
				var jsonquery = JSON.stringify(querydata);

				$.ajax({
				method: "POST",
				contentType: "application/json",
				url: "{{ url_for('json_to_query') }}",
				data: jsonquery
				})
				.done(function( msg ) {
					console.log( "Data Saved: " + msg.transmartquery );
					document.getElementById("queryfield").innerHTML = msg.transmartquery;
				})
				.fail(function() {
					document.getElementById("queryfield").innerHTML = 'Error generating call';
				});

				return false;
			});
		});

		$(function() {
			$('button#reset').bind('click', function() {
				$('#builder').queryBuilder('reset');
			});
		});

		$('#builder').queryBuilder(
		{
			plugins: [
				'not-group'
			],
			filters: [
			{
				id: 'patientSetId',
				label: 'Where the patients - Are in patient set:',
				type: 'integer',
				operators: ['equal'],
			},{
				id: 'patientIds',
				label: 'Where the patients - Have patient identifiers:',
				type: 'integer',
				operators: ['equal']
		  	},{
				id: 'StudyNameConstraint',
				label: 'Where the observations - are in study:',
				type: 'string',
				operators: ['equal']
			},{
				id: 'ConceptConstraint',
				label: 'Where the observations - have concept/tree path:',
				type: 'string',
				operators: ['equal']
			}]
		});

		$("form#querymetadata").submit(function (e) {
			e.preventDefault();
		});
	</script>
</body>
</html>